<p id="notice"><%= notice %></p>

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Todo Lists</h1>
        <p class="lead">Look through lists or Start a new List</p>
        <hr class="my-4">
        <%= link_to 'Start New List', new_todo_list_path, class: "btn btn-primary btn-xs", style: "color:white" %>
    </div>
</div>

<div class="row">
    <% @todo_lists.each do |todo_list| %>

    <div class="col-sm-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title"><%= todo_list.title %></h5>
                <p class="card-text"><%= todo_list.description %></p>
                <%= link_to todo_list, class: "btn btn-primary", style: "color:white" do %>
                  <i class="fa fa-info"></i>
                <% end %>
                <%= link_to edit_todo_list_path(todo_list), class: "btn btn-warning", style: "color:white" do %>
                  <i class="fa fa-edit"></i>
                <% end %>
                <%= link_to todo_list, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger", style: "color:white" do %>
                  <i class="fa fa-trash"></i>
                <% end %>
            </div>
        </div>
    </div>

    <% end %>
</div>